<kbm-drawer>
  <kbm-sidebar #sidebar="kbmSidebar">
    <kbm-logo></kbm-logo>
    <button (click)="sidebar.toggle()">Toggle</button>
    <kbm-sidebar-menu>
      <a kbm-sidebar-menu-item>
        <kbm-icon>home</kbm-icon>
        <ng-container ngProjectAs="label">Tenant</ng-container>
      </a>
      <a kbm-sidebar-menu-item routerLink="user" routerLinkActive="active">
        <kbm-icon>home</kbm-icon>
        <ng-container ngProjectAs="label">User</ng-container>
      </a>
      <a kbm-sidebar-menu-item>
        <kbm-icon>home</kbm-icon>
        <ng-container ngProjectAs="label">Device</ng-container>
      </a>
    </kbm-sidebar-menu>
  </kbm-sidebar>
  <kbm-main-container>
    <kbm-toolbar></kbm-toolbar>

    <router-outlet></router-outlet>
  </kbm-main-container>
</kbm-drawer>
